nav.navigation
  section.container
    span#js-navigation-toggle.navigation-toggle
      i.fa.fa-bars
    a.logo href="/" asheehan.io
    ul#js-menu.main-nav
      li
        = link "Home", to: "#{Routes.page_path(@conn, :index)}", class: "nav-links"
      li
        = link "Killer Queen", to: "#{Routes.match_path(@conn, :index)}", class: "nav-links"
      li
        = link "Oh Hell", to: "#{Routes.session_path(@conn, :index)}", class: "nav-links"
      li
        = link "Gallery", to: "#{Routes.image_path(@conn, :index)}", class: "nav-links"
