doctype html
html lang="en"
  head
    = csrf_meta_tag()
    = live_title_tag assigns[:page_title] || "asheehan.io"
    link rel="stylesheet" href="#{Routes.static_path(@conn, "/css/app.css")}"
    script defer type="text/javascript" src="#{Routes.static_path(@conn, "/js/app.js")}"
  body
    = @inner_content
