h2 Show Player

ul
  li
    strong Name:&nbsp;
    = @player.name
  li
    strong Games Played:&nbsp;
    = @stats.games
  li
    strong Queen Games:&nbsp;
    = @stats.queen_games
  li
    strong Percentage of games played:&nbsp;
    = play_percentage(@player)
  li
    strong Wins:&nbsp;
    | #{@stats.wins} (#{@stats.total_win_percent}%)
  li
    strong Queen Wins:&nbsp;
    | #{@stats.queen_wins} (#{@stats.queen_win_percent}%)

.edit
  = link "Edit", to: Routes.player_path(@conn, :edit, @player), class: "button button-outline"
/ .delete
  = link "Delete", to: Routes.player_path(@conn, :delete, @player), method: :delete, data: [confirm: "Are you sure?"], class: "button"
.back
  = link "Back", to: Routes.player_path(@conn, :index), class: "button"
