= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      p Oops, something went wrong! Please check the errors below.
  .form-group
    = label f, :location, class: "control-label"
    = select f, :location, Map.keys(@locations), class: "form-control"
    = error_tag f, :location
  / .form-group
    = label f, :routes, class: "control-label"
    = text_input f, :routes, class: "form-control"
    = error_tag f, :routes
  .form-group
    = label f, :notes, class: "control-label"
    = textarea f, :notes, class: "form-control"
    = error_tag f, :notes
  .form-group
    = submit "Submit", class: "btn btn-primary"
