h2 Listing Climbing sessions

table.table
  thead
    tr
      th Location
      th Routes
      th Notes
      th
  tbody
    = for session <- @climbing_sessions do
      tr
        td= session.location
        / td= session.routes
        td= session.notes
        td class="text-right"
          = link "Show", to: Routes.session_path(@conn, :show, session), class: "btn btn-default btn-xs"
          | &nbsp;
          = link "Edit", to: Routes.session_path(@conn, :edit, session), class: "btn btn-default btn-xs"
          | &nbsp;
          = link "Delete", to: Routes.session_path(@conn, :delete, session), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"

= link "New Session", to: Routes.session_path(@conn, :new)
