.add-route
  = form_for @conn, @action, fn f ->
    = hidden_input f, :session_id, value: @session.id
    = for route_type <- @route_types do
      .form-group 
        .type = route_type
        = select f, :route_type, possible_routes(route_type), class: "form-control", prompt: "Choose Difficulty"
    .form-group
      = submit "Add Route", class: "button"