h2 Show Session

ul
  li
    strong Location:&nbsp;
    = @session.location
  / li
    strong Routes:&nbsp;
    = @session.routes
  li
    strong Notes:&nbsp;
    = @session.notes
h3 Routes
= for {difficulty, count} <- @session.routes do
  .route
    | #{difficulty} - #{count}

= render "route_form.html", Map.put(assigns, :action, Routes.session_path(@conn, :create))

= link "Edit", to: Routes.session_path(@conn, :edit, @session)
| &nbsp;
= link "Back", to: Routes.session_path(@conn, :index)
