section.row
  article.column
    p I love web development, especially when I get to use Elixir/Phoenix to do it.  Welcome to the place where I play with a variety of tools/technologies.
  article.column
    h3 Recently Updated
    ul
      li Oh Hell - Created a card game that my family enjoys playing
      li Killer Queen - I made some snippets for auto drafting teams and tracking individual player stats
      li asheehan.io - Getting this whole mess running on gigalixir and having GitLab ci run tests and automatically deploy to production when tests pass.
