#match-portal
  h2 Welcome to Killer Queen Portal
  .row 
    .column
      = link "Create new match", to: Routes.match_path(@conn, :new), class: "button"
  .row 
    .column
      = link "View existing matchup", to: Routes.game_path(@conn, :new), class: "button"
  .row 
    .column
      = link "Previous games", to: Routes.game_path(@conn, :index), class: "button"
  .row 
    .column 
      = link "Players", to: Routes.player_path(@conn, :index), class: "button"