= render "_player_table.html", data: @changeset.data, players: @players

= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      p Oops, something went wrong! Please check the errors below.
  .form-group
    = hidden_input f, :blue_queen_id
    = hidden_input f, :blue_checks_id
    = hidden_input f, :blue_abs_id
    = hidden_input f, :blue_skulls_id
    = hidden_input f, :blue_stripes_id
    = hidden_input f, :gold_queen_id
    = hidden_input f, :gold_checks_id
    = hidden_input f, :gold_abs_id
    = hidden_input f, :gold_skulls_id
    = hidden_input f, :gold_stripes_id
  .form-group
    = label f, :victory_type, class: "control-label"
    = select f, :victory_type, ~w(military economy snail)
    = error_tag f, :victory_type
  .form-group
    = label f, :map, class: "control-label"
    = select f, :map, ~w(day dusk night twilight)
    = error_tag f, :map
  .form-group
    = label f, :victor, class: "control-label"
    = select f, :victor, ~w(blue gold)
    = error_tag f, :victor
  .form-group
    = submit "Submit", class: "btn btn-primary"
