h2 Listing Games

table.table
  thead
    tr
      th Victory type
      th Map
      th Victor
      th Blue Queen
      th Gold Queen
      th Inserted at
      th
  tbody
    = for game <- @games do
      tr
        td= game.victory_type
        td= game.map
        td= game.victor
        td= link player_name(game.blue_queen_id), to: Routes.player_path(@conn, :show, game.blue_queen_id)
        td= link player_name(game.gold_queen_id), to: Routes.player_path(@conn, :show, game.gold_queen_id)
        td= game.inserted_at
        td class="text-right"
          = link "Show", to: Routes.game_path(@conn, :show, game), class: "btn btn-default btn-xs"
          | &nbsp;
          = link "Edit", to: Routes.game_path(@conn, :edit, game), class: "btn btn-default btn-xs"
          | &nbsp;
          = link "Delete", to: Routes.game_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"

= link "New Game", to: Routes.game_path(@conn, :new)
